body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.app {
  padding: 20px;
  font-family: sans-serif;
}

.settings-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.settings-tab {
  position: absolute;
  top: 60px;
  right: 20px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}

.flags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.flag-container {
  text-align: center;
  position: relative;
  display: inline-block;
  padding-left: 10px; /* Add padding on the left */
  padding-right: 10px; /* Add padding on the right */
  background-color: #ffffff; /* Optional: Add a background color to the padding area */
  border-radius: 10px; /* Optional: Add rounded corners */
  margin-bottom: 20px; /* Add margin to create space between rows */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better visual separation */
}

.flag-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.flag {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border: 1px solid #000;
  overflow: hidden;
}

.flag-image {
  width: 100%; /* Ensure the flag image takes the full width */
  height: 100%; /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 0; /* No rounded corners for the flag itself */
}

.blue-stripe {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: height 0.3s ease-in-out;
  background-color: #6699CC; /* Default blue color */
}

.flag-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 100%; /* Ensure the footer takes the full width */
}

.download-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.country-code {
  margin-left: 5px;
  font-weight: bold;
}

/* .slider-container {
  width: 300px; 
  margin: 0 auto; 
} */

.slider-container {
  width: 500px; /* Set the width of the slider */
  margin: 0 auto; /* Center the slider */
}