body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  padding: 20px;
  font-family: sans-serif;
}

.flag-container {
  margin-top: 20px;
  text-align: center;
}

.flag {
  position: relative;
  width: 320px;  /* Set flag width */
  height: 240px; /* Set flag height */
  background-size: cover;
  background-position: center;
  border: 1px solid #000;
  overflow: hidden;
  margin: 0 auto;
}

.blue-stripe {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 255, 0.5); /* blue overlay with half transparency */
}

.flag-label {
  margin-top: 10px;
  color: black;
  font-weight: bold;
}